##
## Copyright 2016 Google Inc.  All rights reserved.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA


config FMAP_OFFSET
	hex "Offset of the FMAP in the firmware image"
	help
	  This is the offset of the FMAP in the ROM. The FMAP is not searched
	  for, so if the address isn't correct the system won't boot.

choice
	prompt "Boot plan"
	help
	  Different ways of arranging depthcharge into modules. Which one to
          use depends on how depthcharge is started, and what it should do
          while running. Not all options will be supported on all boards.

config BOOTPLAN_CB_SPLIT_PAYLOAD
	bool "Coreboot payload (depthcharge selects firmware)"

config BOOTPLAN_CB_PAYLOAD
	bool "Coreboot payload (coreboot selects firmware)"

endchoice
