##
## Copyright 2016 Google Inc.  All rights reserved.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA

choice
	prompt "Layout driver"
	default DRIVER_LAYOUT_NONE

config DRIVER_LAYOUT_NONE
	bool "No layout driver"

config DRIVER_LAYOUT_COREBOOT
	bool "Find firmware components based on a coreboot layout"
	select DRIVER_STORAGE_FMAP
	select DRIVER_STORAGE_SECTION_INDEX

config DRIVER_LAYOUT_DCDIR
	bool "Find firmware components based on a standard dcdir layout"
	select DRIVER_STORAGE_DCDIR

endchoice
