# Arch
CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_V7=y

# Board
CONFIG_BOARD="veyron_rialto"

# Image
CONFIG_BOOTPLAN_CB_PAYLOAD=y

CONFIG_BASE_ADDRESS=0x23000000
CONFIG_FMAP_OFFSET=0x00100000
CONFIG_HEAP_SIZE=0x01000000
CONFIG_KERNEL_START=0x2000000

# Vboot
CONFIG_USB_BOOT_ON_DEV=y
CONFIG_VIRTUAL_DEV_SWITCH=y

CONFIG_CROSSYSTEM_FDT=y
CONFIG_HEADLESS=y
CONFIG_NV_STORAGE_FLASH=y

# Kernel format
CONFIG_KERNEL_FIT=y
CONFIG_KERNEL_FIT_FDT_ADDR=0x6400000

# Drivers
CONFIG_DRIVER_BLOCKDEV_MMC=y
CONFIG_DRIVER_BLOCKDEV_MMC_ROCKCHIP=y
CONFIG_DRIVER_BLOCKDEV_USB=y
CONFIG_DRIVER_BUS_I2C_ROCKCHIP=y
CONFIG_DRIVER_BUS_I2S_ROCKCHIP=y
CONFIG_DRIVER_BUS_SPI_ROCKCHIP=y
CONFIG_DRIVER_CONSOLE_UART=y
CONFIG_DRIVER_FLASH_SPI=y
CONFIG_DRIVER_GPIO_ROCKCHIP=y
CONFIG_DRIVER_LAYOUT_COREBOOT=y
CONFIG_DRIVER_POWER_RK808=y
CONFIG_DRIVER_STORAGE_FLASH=y
CONFIG_DRIVER_TIMER_ROCKCHIP=y
CONFIG_DRIVER_TPM_SLB9635_I2C=y
CONFIG_DRIVER_UART_8250=y

# libpayload
# CONFIG_VIDEO_CONSOLE is not set

CONFIG_USB=y
CONFIG_USB_EHCI=y
CONFIG_USB_UHCI=y

CONFIG_USB_DWC2=y
