# Arch
CONFIG_ARCH_X86=y
CONFIG_ARCH_X86_AMD64=y

CONFIG_EXTRA_CFLAGS="-fpie -fshort-wchar -mno-red-zone -DEFIAPI='__attribute__((ms_abi))'"

# Board
CONFIG_BOARD="uefi"

# Image
CONFIG_BOOTPLAN_UEFI=y

CONFIG_IMAGE_HWID="UEFI TEST"

# Vboot
CONFIG_MOCK_TPM=y
CONFIG_DISABLE_LEGACY_BOOT=y

# Kernel format
CONFIG_KERNEL_ZIMAGE=y

# Drivers
CONFIG_DRIVER_CONSOLE_UEFI=y
CONFIG_DRIVER_LAYOUT_UEFI=y
CONFIG_DRIVER_STORAGE_FWDB=y
CONFIG_DRIVER_TIMER_RDTSC=y

# libpayload
