# Arch
CONFIG_ARCH_X86=y
CONFIG_ARCH_X86_AMD64=y

CONFIG_EXTRA_CFLAGS="-fpic -fshort-wchar -mno-red-zone -DEFIAPI='__attribute__((ms_abi))'"
CONFIG_EXTRA_LINK_FLAGS="-Wl,-znocombreloc -Wl,-shared -Wl,-Bsymbolic -Wl,--hash-style=sysv"

# Board
CONFIG_BOARD="uefi"

# Image
CONFIG_BOOTPLAN_UEFI=y

CONFIG_IMAGE_HWID="UEFI TEST"

# Vboot

# Kernel format
CONFIG_KERNEL_ZIMAGE=y

# Drivers

# libpayload
