# Arch
CONFIG_ARCH_X86=y
CONFIG_ARCH_X86_IA32=y

# Board
CONFIG_BOARD="qemu-x86"

# Image
CONFIG_BOOTPLAN_QEMU_X86=y

CONFIG_IMAGE_HWID="QEMU TEST"
CONFIG_IMAGE_SIZE_8MB=y

# Vboot
CONFIG_VIRTUAL_DEV_SWITCH=y
CONFIG_MOCK_TPM=y

CONFIG_NV_STORAGE_CMOS=y

# Kernel format
CONFIG_KERNEL_ZIMAGE=y

# Drivers
CONFIG_DRIVER_CONSOLE_UART=y
CONFIG_DRIVER_KEYBOARD_PS2=y
CONFIG_DRIVER_LAYOUT_DCDIR=y
CONFIG_DRIVER_POWER_PCH=y
CONFIG_DRIVER_STORAGE_MEMORY=y
CONFIG_DRIVER_TIMER_RDTSC=y
CONFIG_DRIVER_UART_8250=y

# libpayload
CONFIG_CBMEM_CONSOLE=y
CONFIG_VIDEO_CONSOLE=y
